@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {

  font-family: 'Figtree';
  src: url('/fonts/Figtree/Figtree-VariableFont_wght.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
    font-family: 'SF Pro Display';
    src: url('/fonts/SF-Pro/SFPRODISPLAYREGULAR.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'SF Pro Display';
    src: url('/fonts/SF-Pro/SFPRODISPLAYMEDIUM.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'SF Pro Display';
    src: url('/fonts/SF-Pro/SFPRODISPLAYBOLD.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'SF Pro Display';
    src: url('/fonts/SF-Pro/SFPRODISPLAYBLACKITALIC.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'SF Pro Display';
    src: url('/fonts/SF-Pro/SFPRODISPLAYHEAVYITALIC.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'SF Pro Display';
    src: url('/fonts/SF-Pro/SFPRODISPLAYLIGHTITALIC.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'SF Pro Display';
    src: url('/fonts/SF-Pro/SFPRODISPLAYSEMIBOLDITALIC.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'SF Pro Display';
    src: url('/fonts/SF-Pro/SFPRODISPLAYTHINITALIC.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'SF Pro Display';
    src: url('/fonts/SF-Pro/SFPRODISPLAYULTRALIGHTITALIC.otf') format('opentype');
    font-weight: 200;
    font-style: italic;
  }
  
  body {
    font-family: 'SF Pro Display', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
  }
  .slick-track{
    display: flex !important;
    gap: 20px !important;
  }
  .slick-prev, .slick-next {
    width: 12.66px !important;
    height: 23.31px !important;
    position: absolute !important;
    top: -36% !important;
  }
  
  .slick-prev {
    margin-left: 245px;
  }
  @media (min-width:768px) {
  .slick-prev, .slick-next {
    top: -30% !important;
  }
  
  .slick-prev {
    margin-left: 900px;
  }
  
  .slick-next {
    margin-right: 36px;
  }
  }
  .slick-dots {
    position: absolute !important;
    bottom: 20px !important; /* Adjust this value to move dots vertically */
    left: 50% !important; /* Center horizontally, adjust as needed */
    transform: translateX(-50%); /* Center horizontally */
  }
